/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/storage/ftp
/storage/temp.txt
/storage/urilog.txt
/storage/ping.txt
/storage/pingurilog.txt
.DS_Store
/public/assets/pics/ftp
composer.lock
storage/smslog.txt